@import "./primary.scss";

.hero {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 500;
}

.heroDetails {
  position: absolute;
  left: 70%;
  top: 14%;
  transform: translate(-50%, 0);
  font-family: 'BebasNeue';
  text-align: end;
  line-height: normal;
  font-weight: bold;
  color: $fernGreen;
}

@media(min-width: 1000px) {
  .heroDetails {
    left: 70%;
    top: 27%;
    transform: translate(-50%, 0);
    width: 410px;
  }
}

.heroSubheader {
  color: white;
  background-color: $vividTangerine;
  font-size: 25px;
  font-weight: 100;
  font-family: sans-serif;
  width: fit-content;
  padding: 9px 33px;
  float: right;
}

@media(max-width: 500px) {
  .heroSubheader {
    display: none;
  }
}

.heroHeader {
  margin: 0;
  font-size: 105PX;
  letter-spacing: 6px;
}

@media(max-width: 1000px) {
  .heroHeader {
    font-size: 58px;
  }

  .heroSubheader {
    font-size: 19px;
    padding: 9px 20px;
  }
}

@media(max-width: 380px) {
  .heroDetails {
    left: 73%
  }
}

.heroWrapper {
  overflow: hidden;
}

.heroImage {
  display: block;
  width: 100%;
  object-fit: cover;
}